<h4> Review </h4>
<blockquote ng-repeat="review in product.reviews"> <!-- bloque de comentario-->
	<b> Stars: {{review.stars}}</b>
	{{review.body}}
	<cite>by: -{{review.author}}</cite>
</blockquote>
<div id="myForm">
<form name="reviewForm" ng-submit="reviewForm.$valid && reviewCtrl.addReview(product)" class="form-group" novalidate> <!--se apaga la validacion de bootstrap cuando le hunda el boton del submit  ejecuta esta funcion y requiere que los campos esten bien para submitearlo-->
	<select ng-model="reviewCtrl.review.stars" ng-init="reviewCtrl.review.stars =2" class = "form-control" required> <!--el init es mejor hacerla en el controlador, se deja aca para efectos de ejemplificar-->
		<option value="1"> 1 star</option>
		<option value="2"> 2 stars</option>
	</select>
	<textarea ng-model="reviewCtrl.review.body" class = "form-control" required></textarea> <!--form-control:bootstrap-->
	<label>by:</label>
	<input ng-model="reviewCtrl.review.author" type="email" class="form-control" required/>
	<input type="submit" value="Submit" ng-disabled="!reviewForm.$valid" class="btn" ng-class="{'btn-success': reviewForm.$valid}"/> <!-- para deshabilitar el boton si no es valida la informacion del form y para mostrar el boton bien si es valido-->
	<div> {{reviewForm.$valid}} </div>
</form>
</div>
